(
    telegram: (
        bot_token: "",
        allow_users: [],
    ),
    llama: (
        url: "http://127.0.0.1:8080",
    ),
    chat: (
        summarize_every: 8,
        summary_max_size: 2000,
        prompts_dir: "prompts",
    ),
    db: (
        sqlite: (
            db_path: "llagram.sqlite",
        ),
    ),
)
